@media screen and (max-width: 1199px) {
	.form_msearch{
		width: 400px;
	}
	.rrpp_thumb{
		width: 120px;
	}
	.rrpp_txt{
		margin-right: 130px;
	}
	.rr_pp_left{
		margin-top: 10px;
	}
}
@media screen and (max-width: 991px) {
	.main_search_head{
		display: none;
	}
	.head_bottom{
		display: none;
	}
	.hidden_md{
		display: none;
	}
	.zoom_xs,.toggle_menu{
	  display: block;
	}
	.action_hmd > li{
		float: right;
		margin-left: 10px;
	}
	.action_hmd > li:last-child{
		margin-left: 0;
	}
	.action_hmd > li > a{
		display: block;
		width: 35px;
		height: 35px;
		color: #fff;
		font-size: 18px;
		text-align: center;
		line-height: 35px;
	}
	.hamburger{
		display: block;
		margin: 0;
	}
	.head_m_left{
		margin-top: 6px;
	}
	.action_hmd a:hover{
		color: #404553;
	}
	.ul_side_right ul > li > a{
		padding-left: 15px;
		padding-right: 15px;
	}
	.page_single_editor > h2{
		font-size: 18px;
	}
	.card-header button{
		font-size: 14px;
	}

	.f_support_txt{
		text-align: center;
	}
	.info_supp_item{
		margin-top: 20px;
	}
	.f_logo{
		text-align: center;
	}
	.f_about > p{
		text-align: center;
	}
	.f_social_icons{
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.bf_left{
		float: none;
		display: table;
		margin: auto;
	}
	.bf_right{
		float: none;
		text-align: center;
	}
	.welcome_contact{
		padding-right: 20px;
		padding-left: 20px;
	}
	.empty_txt > h2{
		font-size: 20px;
	}
	.empty_txt > p{
		font-size: 16px;
	}
	.view_list .pro__thumb{
		float: none;
	}
	.view_list .pro_caption{
		margin-right: 0;
	}
	.view_list .pro__thumb > a > img{
		width: 100%;
	}
	.secPro_head > h2{
		font-size: 20px;
	}
	.scribe_right > img{
		width: 70px;
	}
	.scribe_txt{
		margin-right: 80px;
	}
	.feature_list .col-md-6:nth-child(2){
		border-left: 0;
	}
	.feature_list .col-md-6{
		border-left: 0;
	}
	.balance_point_box{
		padding: 20px 10px;
	}
	a.btn_replace{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width: 767px) {
	.title_reg{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.header_lang{
		padding: 15px 0;
	}
	.add_adrs_new{
	  margin-top: 20px;
	}
	.add_adrs_new{
	  height: 150px;
	}
	.f_menu_list > li{
		float: right;
		width: 33.33%;
	}
	.info_supp_item{
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.center-screen{
		width: 90%;
	}
	.ul_side_right{
		margin-bottom: 20px;
	}
	.welcome_contact > h2{
		font-size: 18px;
	}
	.borleft{
		border:0;
	}
	.we_item_left{
		float: none;
	}
	.we_item{
		margin-top: 20px;
	}
	.page_error_content > p{
		font-size: 18px;
	}
	.error_link{
		padding-right: 50px;
		padding-left: 50px;
	}
	.bpost_txt > h2{
		font-size: 18px;
	}
	.share_social > li > a{
		width: 45px;
		height: 45px;
		line-height: 43px;
		font-size: 20px;
	}
	.post_share > h2{
		font-size: 18px;
	}
	.side_article > h2{
		font-size: 18px;
	}
	.modal-body{
		padding: 20px 20px;
	}
	.empty_txt > h2{
	  font-size: 20px;
	  font-weight: 700;
	}
	.empty_txt > p{
	  font-size: 16px;
	}
	.empty_txt .error_link{
	  padding-right: 20px;
	  padding-left: 20px;
	}
	.empty_txt > h2{
		margin-bottom: 10px;
	}
	.empty_txt > p{
		margin-bottom: 10px;
	}
	.empty_border{
		padding: 20px;
	}
	.stu_hContent > h2{
		font-size: 18px;
	}
	.filter_left_head{
		margin-top: 20px;
	}
	#home_slider .owl-nav{
		display: none;
	}
	.slide_caption > h2{
		font-size: 18px;
	}
	.slide_item{
		padding: 120px 0 100px;
	}
	.slide_item{
		min-height: 250px;
	}
	.slide_caption .donation_link{
		font-size: 16px;
	}
	.secPro_head > h2{
		font-size: 18px;
	}
	.statistic_title{
		font-size: 18px;
	}
	.st__box > h2{
		font-size: 20px;
	}
	#banner_slide .owl-nav,#banner_slide .owl-dots{
		display: none;
	}
	.scribe_txt > p{
		margin-top: 15px;
	}
	.scribe_right{
		display: table;
		margin: auto;
	}
	.step_p_item:nth-child(odd){
	  margin-left: 50px;
	}
	.step_p_item:nth-child(even){
	  margin-right: 50px;
	}
	.form_st2 label{
		padding-top: 0;
	}
	.address_btns_action{
		opacity: 1;
		visibility: visible;
	}
	.quran{
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	.pp_sa{
		padding-bottom: 20px;
	}
	.payment__block_div > h3{
		font-size: 16px;
	}
	.content_wizerd{
		padding: 20px 0;
	}
	.payment_accordion .item_cr_thumb > img{
		width: 100px;
		height: 100px;
	}
	.payment_accordion .item_cr_txt{
		margin-right: 120px;
	}
}
@media screen and (max-width: 575px) {
	.f_menu_list > li{
		width: 50%;
	}
	.payment_method,.btn_chat{
		float: none;
		display: table;
		margin:auto;
		text-align: center;
	}
	.payment_method > li{
		float: none;
		display: inline-block;
	}
	.error_link{
		padding-right: 20px;
		padding-left: 20px;
		font-size: 14px;
	}
	.page_error_content > p{
		font-size: 16px;
	}
	.page_inner_title{
		font-size: 18px;
	}
	.bpost_txt > h2{
		font-size: 16px;
	}
	/*.profile_side_menu > li > a{
		padding-right: 10px;
	}*/
	.plc_title,.profile_title{
		font-size: 16px;
	}
	.eva_box_re{
		padding-left: 0;
	}
	.eva_state{
		position: static;
		border:0;
		width: auto;
		display: table;
		margin: auto;
		text-align: center;
	}
	.form_student .form-control{
		padding-left: 12px;
	}
	.btn_sty{
		position: static;
		width: 100%;
	}
	.view_list .pro_salary{
		display: block;
	}
	.view_list .pc_ss_left{
		display: block;
		margin-right: 0;
	}
	.view_list .pro_gift,.view_list .pro_share{
		float: none;
	}
	.slide_item{
		padding: 80px 0 70px;
	}
	.slide_caption > h2{
		font-size: 16px;
	}
	.slide_caption .donation_link{
		padding:8px 30px; 
	}
	.secPro_head > h2{
		font-size: 16px;
		margin-top: 10px;
	}
	.statistic_title{
		font-size: 16px;
	}
	.st__box > p{
		line-height: 20px;
		height: 40px;
		overflow:hidden;
	}
	.pagination > li > a{
		width: 30px;
		height: 30px;
		line-height: 28px;
	}

	.scribe_right > img{
		width: 60px;
	}
	.scribe_txt{
		margin-right: 70px;
	}
	.title_page{
		font-size: 18px;
	}
	.shipping_block > h3{
		float: none;
	}
	.select_shipping{
		float: none;
	}
	.select_shipping .dropdown-toggle::after{
		margin-right: 10px;
	}
	.step_p_item:nth-child(odd){
	  margin-left: 0;
	}
	.step_p_item:nth-child(even){
	  margin-right: 0;
	}
	.step_p_item{
		padding: 20px;
	}
	.stp_txt {
		padding-top: 0;
		margin-right: 90px;
	}
	.stp_icon{
		width: 65px;
		height: 65px;
	}
	.stp_icon:before{
		width: 80px;
		height: 80px;
	}
	.balance_point_box > h3{
		float: none;
	}
	a.btn_replace{
		float: none;
		display: table;
		margin: 15px auto 0;
	}
	a.btn_orange{
		font-size: 14px;
	}
	.nav-tabs.tab_point_st .nav-link{
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.rrpp_thumb{
		width: 100%;
		float: none;
	}
	.rrpp_txt{
		margin-right: 0;
		margin-top: 10px;
	}
	.rrpp_thumb{
		height: 150px;
	}
	.quantity-products,.product-cart-btn{
		margin-bottom: 20px;
	}
	.related_block_pro{
		padding: 30px 0;
	}
	.lSSlideOuter{
		padding-right: 0;
	}
	.lSGallery li, .lSSlideOuter.lSrtl .lSGallery li{
		float: right !important;
		margin-left: 0 !important;
	}
	.lSGallery{
		position: static;
	}
	.item_cr_txt > p{
		height: auto;
	}
}

